name: ClusterFuzzLite

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions: read-all

jobs:
 Fuzzing:
   runs-on: ubuntu-24.04
   strategy:
     fail-fast: false
     matrix:
       sanitizer: [address, undefined, memory]

   steps:
   - name: Harden Runner
     uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v1
     with:
       egress-policy: audit
       disable-telemetry: true

   - name: Build Fuzzers (${{ matrix.sanitizer }})
     id: build
     uses: google/clusterfuzzlite/actions/build_fuzzers@884713a6c30a92e5e8544c39945cd7cb630abcd1 # v1
     with:
       sanitizer: ${{ matrix.sanitizer }}
       upload-build: true

   - name: Run Fuzzers (${{ matrix.sanitizer }})
     id: run
     uses: google/clusterfuzzlite/actions/run_fuzzers@884713a6c30a92e5e8544c39945cd7cb630abcd1 # v1
     with:
       github-token: ${{ secrets.GITHUB_TOKEN }}
       fuzz-seconds: 3600
       sanitizer: ${{ matrix.sanitizer }}

#   - name: Upload Crash
#     uses: actions/upload-artifact@v1
#     if: failure() && steps.build.outcome == 'success'
#     with:
#       name: ${{ matrix.sanitizer }}-artifacts
#       path: ./out/artifacts
