name: Semgrep

on:
  #pull_request: {}
  push:
    branches:
    - main
    - master

permissions: read-all

jobs:
  semgrep:
    name: Scan
    runs-on: ubuntu-22.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@18bf8ad2ca49c14cbb28b91346d626ccfb00c518 # v1
      with:
        egress-policy: block
        disable-telemetry: true
        allowed-endpoints: 
          github.com:443
          metrics.semgrep.dev:443
          semgrep.dev:443
        
    - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v2
    
    - uses: returntocorp/semgrep-action@11a0298061c536d71c5df8a03c029b2e226578b9 # v1
      with:
        publishToken: ${{ secrets.SEMGREP_APP_TOKEN }}
