name: Semgrep

on:
  #pull_request: {}
  push:
    branches:
    - main
    - master

permissions: read-all

jobs:
  semgrep:
    name: Scan
    runs-on: ubuntu-22.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@6b3083af2869dc3314a0257a42f4af696cc79ba3 # v1
      with:
        egress-policy: block
        disable-telemetry: true
        allowed-endpoints: 
          github.com:443
          metrics.semgrep.dev:443
          semgrep.dev:443
        
    - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v2
    
    - uses: returntocorp/semgrep-action@b802485440fd7a4e52e9fa2a29beb62841fccdfb # v1
      with:
        publishToken: ${{ secrets.SEMGREP_APP_TOKEN }}
